*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Inika', serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

:root{
    --box-shadow:#E9F4FA;
    --light-blue:#90B1FF;
    --dark-blue:#0F62FE;
}

/* ------------------------------------cards section----------------------------------- */

/*-----------------------------------Time section--------------------------------  */


header {
    position: relative;
    z-index: 70;
    /* margin: 3%; */
    margin-bottom: 1.6%;
}
  
header .container {
    display: flex;
    justify-content: space-between;
    /* gap: 10%; */
    align-items: center;
}
header .container .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
header .container .logo img {
    width: 70px;
    /* margin-right: 0.6rem; */
    /* margin-top: 0.6rem; */
}
  
header .container .logo h3 {
    color: var(--darkTwo);
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
}

body .parent{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    margin-bottom: 2%;
    margin-top: 2%;
}


body .parent .content{
    width: 90%;
    /* height: 80%; */
    align-self: center;
    /* justify-content: center; */
    height: 80vh;
    display: flex;
    font-size: 2rem;
    padding: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding-left:8%; */
    /* padding-right: 8%; */
    /* padding-bottom: 1%; */
    /* right: 9%; */
    /* margin:10%; */
    justify-content: space-between;
    /* margin: 5%; */
}


body .parent .content .left-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-between; */
    /* width: 80%; */
    font-size: 1em;
}
body .parent .content .left-part h1{
    /* font-family: 'Times New Roman', Times, serif; */
    display: block;
    font-size: 2.7rem;
    margin-block-start: 0.6em;
    /* margin-block-end: 0.83em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
body .parent .content .left-part h1 span{
    /* font-family: 'Times New Roman', Times, serif; */
    color: #0b07f4;
}
body .parent .content .left-part p{
    font-size: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
}
body .parent .content .left-part .button {
    display: flex;
    /* margin-bottom: 5% */
}

body .parent .content .left-part .button .btn-1{
    /* margin-left: 8%; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 50px;
    font-size: 1rem;
    font-weight:600;
    border: none;
    border-radius: 4px;
    background-color: var(--dark-blue);
    color: white;
}
body .parent .content .right-part{
    display: flex;
    align-items:center;
    justify-content: right;
}

body .parent .content .right-part img{
    width:85%;
} 

@media only screen and (max-width: 1100px){

}
@media only screen and (max-width: 1000px){

}
@media only screen and (max-width: 700px){
    body .parent .content .left-part h1{
        /* font-family: 'Times New Roman', Times, serif; */
        display: block;
        font-size: 1em;
        margin-block-start: 0.83em;
        /* margin-block-end: 0.83em; */
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
}


@media only screen and (max-width: 880px){
    body .parent {
    margin-bottom: 9%;
    margin-top: 5%;
    }
    header{
        margin-bottom: 1.8%;
    }
    header .container{
        display: none;
    }


    body .parent .content{
        display: flex;
        flex-direction: column;
        /* display: block; */
        /* width: 1rem; */
        align-items: center;
        width: 90%;
        height: 100%;
        /* height: 100%; */
        padding: 5%;
        /* padding-left:16%;
        padding-right:16%;
        padding-bottom: 15%; */
    }
    body .parent .content .right-part{
        width: 100%;
        justify-content: center;
    }
    body .parent .content .left-part{
        width: 100%;
        /* margin-bottom: 10%; */
    }
    body .parent .content .left-part h1{
        font-size: 35px;
        text-align: center;
    }
    body .parent .content .left-part p{
        text-align: center;
    }
    body .parent .content .left-part .button .btn-1{
        padding-left: 0;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        /* margin-left: 50%;
        margin-right: 50%; */
        /* justify-self: center; */
    }
    body .parent .content .left-part .button{
        justify-content: center;
    }

    body .parent .content .right-part{
        display: none;
    }
    header .container .logo img {
        width: 60px;
    }
}

@media only screen and (max-width: 800px){
    body .parent .content{
        padding-left: 9%;
        padding-right: 9%;
    }
}
/* ---------------------------Pranesh finish--------------------- */